<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<head>
<title>Cadastro de títulos</title>
</head>

<section layout:fragment="conteudo">

	<form class="form-horizontal" role="form" action="/titulos"
		method="post">
		<div class="alert alert-info" role="alert"
			th:if="${not #strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Novo título</h3>
			</div>
			<div class="panel-body">

				<div class="form-group">

					<label for="inputDescricao" class="col-sm-2 control-label">
						Descrição </label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputDescricao"
							name="descricao" />
					</div>
				</div>
				<div class="form-group">

					<label for="inputDtVencimento" class="col-sm-2 control-label">
						Data de vencimento </label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputDtVencimento"
							name="dataVencimento" />
					</div>
				</div>
				<div class="form-group">

					<label for="inputValor" class="col-sm-2 control-label">
						Valor </label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputValor"
							name="valor" />
					</div>
				</div>
				<div class="form-group">

					<label for="inputStatus" class="col-sm-2 control-label">
						Status </label>
					<div class="col-sm-2">
						<select class="form-control" name="statusTitulo">
							<option th:each="statusTitulo : ${statusTituloList}"
								th:value="${statusTitulo}" th:text="${statusTitulo.descricao}" />
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>

</section>

</html>